* {
    margin: 0;
    padding: 0;
}

.header {
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: auto;
    padding-left: 30px;
    padding-bottom: 15px;
    position: fixed;
    background-color: white;
    box-shadow: 0 0 1px 2px rgb(24 26 24 / 15%);
    font-family: 'Montserrat', sans-serif;
    height: 80px;
    
}

.navbar-container {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 63%;
}

.header-link {
    margin-right: 15px;
    text-decoration: none;
    color: #181a18;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}

.header-button {
    color: #11a36a;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    border-radius: 4px;
    border-color: #11a36a;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    padding: 9px 15px;
    display: inline-block;
    cursor: pointer;
}

.header-button:hover {
    background-color: #11a36a;
    color: white;
    transition: 200ms;
}

.header-logo {/*=-=-=--=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-*/
    width: 400px;
    left: 45px;
    position: fixed;
    margin-top: 5px;
}

main {
    margin-top: 90px;
    background-image: url(./assets/background.jpg);
    background-size: cover;
    height: 600px;
    padding-top: 35px;
    padding-left: 45px;
    
}

main h1 {
    color: #0A7E51;
    font-family: 'montserrat', sans-serif;
    font-size: 45px;
    margin: 0px 0px 30px;
}

main p {
    color: #323F3A;
    font-size: 16px;
    font-family: 'montserrat', sans-serif;
    margin: 0px 0px 10px;
    margin-bottom: 75px;
}

.main-button {
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 15px 30px;
    background-color: #11a36a;
    font-family: 'montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}

.main-button:hover {
    background-color: #0A7E51;
    transition: 200ms;
}

h3 {
    color: #11a36a;
    font-size: 28px;
    font-family: 'montserrat', sans-serif;
    margin: 10px 0px 60px;
}

.section2 {
    text-align: center;
    padding: 84px 30px;
}

.section2 p {
    font-size: 16px;
    font-family: 'montserrat' ,sans-serif;
    color: #475550;
    margin-bottom: 10px;
    line-height: 25px;
}

.student-container {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.student-testimonial {
    width: 25%;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    justify-content: center;
}

.student-testimonial p, .trybe-testimonial p{
    color: #475550;
    font-size: 15px;
    font-weight: 200;
    line-height: 20px;
}

.student-container img, .quem-somos img  {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-bottom: 25px;
}

.student-container h4, .trybe-testimonial h4 {
    color: #0A7E51;
    font-weight: 500;
    line-height: 20px;
    margin-top: 15px;
}

.quem-somos {
    text-align: center;
    background-color: #f5f5f5;
    padding-top: 60px;
}

.trybe-testimonial {
    display: flex;
    text-align: left;
    justify-content: center;
    margin-top: 150px;
    background-color: #f5f5f5;
    height: 400px;
    padding-top: 25px;
}

.trybe-testimonial-individual {
    max-width: 50%;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 15px;
    margin-bottom: 120px;
    justify-content: center;
}

.matheus-container {
    width: 40%;
    display: flex;
    flex-direction: row;
    height: 250px;
    padding: 25px;
    border: 0px solid #000;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 3px 3px 8px 0 #20382f;
    font-family: Montserrat, sans-serif;
}

.matheus-img {
    max-width: 130px;
    margin-top: 7%;
}

.joao-container {
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: row;
    height: 245px;
    padding: 25px;
    padding-top: 20px;
    margin-left: 50px;
    margin-top: 7px;
    border: 0px solid #000;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 3px 3px 8px 0 #20382f;
    font-family: Montserrat, sans-serif;
}

.joao-img {
    max-width: 130px;
    margin-top: 9%;
}

.formation-container {
    display: flex;
    justify-content: center;
}

.ul-li{
    font-family: 'montserrat', sans-serif;
    line-height: 25px;
    color: #475550;
}

.formation-txt {
    margin-left: 75px;
    margin-top: 75px;
}

.formation-img {
    width: 50%;
    margin-left: 150px;
    margin-top: 75px;
}

.formation-img img {
    width: 550px;
}

.download-cv {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.download-cv h4 {
    color: #11a36a;
    font-size: 18px;
    font-family: 'montserrat', sans-serif;
    margin-top: 120px;
}

.download-cv a {
    color: white;
    background-color: #11a36a;
    padding: 15px 30px;
    font-size: 16px;
    font-family: 'montserrat', sans-serif;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 60px;
}

