body {
  max-width: 80%;
  margin: 40px auto;
  background-color: rgb(168, 165, 165);
  border: 5px solid rgb(0, 6, 1);
  border-radius: 10px;
}
section {
  background-color: rgb(21, 20, 20);
  color: antiquewhite;
  border-radius: 10px;
  bottom: 2rem;
}
